<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <param name="/use_sim_time" value="true" />  
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <group ns="ns0" >
    <param name="goal_description" command="$(find xacro)/xacro --inorder $(find mbot)/urdf/goal.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_goal"  ns="ns0" args="-urdf -model goal -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param goal_description" />
  </group>
  <!-- <param name="robot_description" command="$(find xacro)/xacro -inorder $(find mbot)/urdf/mybot.xacro " />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" ns="ns1" args="-urdf -model agent -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </launch>



